#cabecalho{
    display: flex;
    box-sizing: border-box;
    height: 20%;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}

#logo{
    display: flex;
    height: 30%;
    width: 50%;
}

#nav{
    margin: 0px;
    padding: 0px;
}

#menu{
    display: flex;
    list-style: none;
    gap: 1rem;
    flex-direction: row;
}

#menu a{
    color:black;
    text-decoration: none;
    font-family: sans-serif;
    display: block;
    padding: .5rem;
}

#menu a:hover{
    background: rgba(0, 0, 0, .05);
}