.h2{
    display: flex;
    width: 5vw;
    align-items: center;
    padding: 5px;
}

#caixa {
    display: flex;
    padding: 5px;
    border-bottom: 3px solid black;
    margin: 5px;
    font-size: large;
}


#caixa img {
    display: flex;
    max-width: 50vw;
    height: 25vh;
}

#caixa p{
    padding-left: 1rem;

}