.conteudo {
    display: flex;
    background-color:white;
    justify-content: center;
    align-items: center;

}

.conteudo img{
    display: flex;
    max-width: 30vw;
    height: auto;
}

#form {
    background-color:palevioletred;
}
fieldset div {
    display: flex;
    justify-content: space-between;
}
fieldset{
    width: 50vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 30px;
}

input[type="radio"] {
    width: 15px;
    height: 15px;

}
.escolha{
    display: flex;
    justify-content: space-between;
}
.escolha div{
    align-items: center;
}

#mensagem{
    display: flex;
    width: 50vw;
}