#caixa {
    display: flex;
    padding: 10px;
    border-bottom: 3px solid black;
    margin: 10px;
    font-size: large;
}

#caixa img {
    display: flex;
    height: 100px;
    width: 15vw;
    max-width: 50vw;
    max-height: 25vh;
}

#caixa p{
    padding-left: 1rem;
    
}