/*rodape*/
#rodape{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    flex-direction: column;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: darkblue;
    border-top: 0.5rem solid cyan;
    justify-content: left;
    align-items: center;
    color: white;
    
}

#integrantes{
    list-style: none;
    display:list-item;
    padding: 5vh;
}
